In [45]:
import numpy as np
import pandas as pd

## 고도 및 경사도 데이터 전처리
- 값의 범위별 고도 및 경사도 데이터를 모두 추가
- 범위별 고도 및 경사도 값의 평균을 산출하여 추가

### 법정동별로 고도 및 경사도의 평균 산출

In [46]:
# 고도 및 경사도 데이터 불러오기
df_alt = pd.read_csv('data/raw/altitude.csv', encoding='cp949')
df_slo = pd.read_csv('data/raw/slope.csv', encoding='cp949')
df_alt['평균'] = 0.
df_slo['평균'] = 0.

In [47]:
# 각 컬럼에서 중간값과 영역의 비율로 고도 및 경사도 평균내기
for alt in df_alt.columns.to_list()[2:-1]:
    df_alt['평균'] += np.mean(list(map(int, alt[:-1].split("~")))) * df_alt[alt] / 100

for slo in df_slo.columns.to_list()[2:-1]:
    df_slo["평균"] += np.mean(list(map(int,slo[:-1].split("~")))) * df_slo[slo] / 100

In [48]:
# 불필요 컬럼 제거
alt_drop = df_alt.columns.to_list()[2:-1]
df_alt.drop(columns=alt_drop, inplace=True)

slo_drop = df_slo.columns.to_list()[2:-1]
df_slo.drop(columns=slo_drop, inplace=True)

In [49]:
# 컬럼명 바꾸기
df_alt.rename(columns={
    '법정동코드': 'EMD_CD', '법정동명': 'EMD_NAME', '평균': 'AVG_ALT'
}, inplace=True)

df_slo.rename(columns={
    '법정동코드': 'EMD_CD', '법정동명': 'EMD_NAME', '평균': 'AVG_SLOP'
}, inplace=True)

df_alt['EMD_CD'] = df_alt['EMD_CD'].apply(lambda x: str(x))
df_slo['EMD_CD'] = df_slo['EMD_CD'].apply(lambda x: str(x))

In [51]:
# 평균낸 데이터 저장
df_alt.to_csv("data/altitude_avg_pp.csv", index=False)
df_slo.to_csv("data/slope_avg_pp.csv", index=False)

### 모든 고도 및 경사도 산출

In [52]:
# 고도 및 경사도 데이터 불러오기
df_alt = pd.read_csv('data/raw/altitude.csv', encoding='cp949')
df_slo = pd.read_csv('data/raw/slope.csv', encoding='cp949')

In [55]:
# 고도 데이터 체크
df_alt.describe()

,법정동코드,0~10m,10~50m,50~100m,100~200m,200~300m,300~400m,400~500m,500~600m,600~700m,700~800m,800~900m,900~1000m,1000~1100m
count,2.850000e+02,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.0,285.0
mean,4.435386e+07,16.215333,41.239298,20.009860,14.047614,5.487298,2.036491,0.673404,0.215263,0.054632,0.017649,0.003158,0.0,0.0
std,2.693286e+05,24.407359,26.642313,16.449471,16.431560,9.825722,5.089486,2.181450,0.830613,0.263691,0.104321,0.028207,0.0,0.0
min,4.413110e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
25%,4.415031e+07,0.000000,20.640000,6.160000,0.410000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
50%,4.421011e+07,0.880000,40.790000,18.560000,8.420000,0.220000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
75%,4.471038e+07,25.410000,59.490000,28.990000,22.550000,6.110000,1.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
max,4.482536e+07,100.000000,100.000000,88.140000,92.890000,50.820000,40.450000,17.370000,6.840000,2.340000,1.080000,0.370000,0.0,0.0

In [57]:
# 900m 이상 고도는 없으므로 제거
# 컬럼명 변경
df_alt.drop(columns=['900~1000m', '1000~1100m'], inplace=True)
df_alt.rename(columns={'법정동코드':'EMD_CD', '법정동명': 'EMD_NAME'}, inplace=True)
df_alt['EMD_CD'] = df_alt['EMD_CD'].apply(lambda x: str(x))

In [59]:
# 전처리한 고도 데이터 저장
df_alt.to_csv('data/altitude_full_pp.csv', index=False)

In [60]:
# 경사 데이터 체크
df_slo.describe()

,법정동코드,0~5도,5~10도,10~15도,15~20도,20~25도,25~30도,30~35도
count,2.850000e+02,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000,285.000000
mean,4.435386e+07,45.219439,12.577614,9.818877,9.755579,8.573544,6.418526,7.636421
std,2.693286e+05,21.937671,3.628139,3.451307,4.687753,5.238215,5.065761,8.646844
min,4.413110e+07,6.770000,4.830000,1.050000,0.310000,0.030000,0.000000,0.000000
25%,4.415031e+07,27.630000,9.740000,7.410000,6.330000,3.980000,1.970000,1.280000
50%,4.421011e+07,43.460000,12.360000,10.180000,10.440000,8.420000,5.450000,3.860000
75%,4.471038e+07,62.900000,14.810000,12.170000,13.270000,12.800000,9.970000,11.460000
max,4.482536e+07,91.130000,24.290000,20.970000,22.080000,20.300000,18.670000,41.410000

In [61]:
# 컬럼명 변경
df_slo.rename(columns={
    '법정동코드':'EMD_CD', '법정동명': 'EMD_NAME',
    '0~5도': '0~5deg', '5~10도': '5~10deg', '10~15도': '10~15deg', '15~20도': '15~20deg',
    '20~25도': '20~25deg', '25~30도': '25~30deg', '30~35도': '30~35deg'
}, inplace=True)
df_slo['EMD_CD'] = df_slo['EMD_CD'].apply(lambda x: str(x))

In [63]:
# 전처리한 경사도 데이터 저장
df_slo.to_csv('data/slope_full_pp.csv', index=False)